.wrapper {
  height: auto;

  background: transparent url("../../assets/Sidebar.BG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.logoContainer {
  display: flex;
  padding: 26px 20px 25px;
  width: 260px;
  height: 70px;
  margin-left: -6px;
  margin-top: -3px;

  background: #0000001a;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 3px #0000000d;
  opacity: 1;
}

.logoContainer p {
  display: inline-flex;
  width: 100px;
  height: 19px;
  margin: 0;
  padding: 0;

  font-family: "Source Sans 3", monospace;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.2;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-left: 25px;
}

.pagesList {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.link {
  position: relative;
  display: flex;
  gap: 12px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;

  font-size: 15px;
}

.link .icon {
  width: 16px;
  height: 16px;
  fill: #a5a4bf;
  color: #a5a4bf;
}

.active {
  margin-top: -20px;
  margin-bottom: -20px;
  padding: 30px;
  margin-left: -23px;
  background: #0000001a;
  height: 70px;
  font-weight: bold;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #a3a0fb;
}

.active.link .icon {
  fill: #a3a0fb;
  color: #a3a0fb;
  width: 20px;
  height: 20px;
}
